body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    margin-bottom: 10px;
}
.senha{
    font-size: 20px;
}
#numeros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: 20px auto;
}
.buttonNumero{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #aeaeae;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* botão validar */
button{
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    background-color: rgb(114, 199, 114);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#resultado{
    margin-top: 20px;
    font-size: 18px;
}
